<html>
  <head>
    <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
  </head> 
  <body>
    <h1>Welcome to Throughout Technologies</h1>
    <h1>Your Email Id and password is : <%= @employee.email %><br><%= @employee.password %></h1>    
    <p>
       To login to the site, just follow this link: 
       localhost:3000/employees/sign_in
    </p>     
    <p>Thanks for joining and have a great day!</p>      
  </body>
</html>