<html>
<body>
<div class ="imagesForm">
  <input type="text"class="input-large" placeholder="Caption">
  <input type="file" multiple class="input-large" placeholder="Caption">
  <button class="removeNewImage" type="button">remove</button>
</div>