<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">Enter Email</h4>
</div>
<div class="modal-body">
    <div class="modal-footer">
     
    </div>
    
</div>