div
{
  margin: auto;
  padding: 1px 1px 1px 1px;
}
.footer {
   position: auto;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #196dc1;
   color: white;
   text-align: center;
}
.footer2 {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #196dc1;
   color: white;
   text-align: center;
}
